*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
}

.info{
    text-align: center
}



img{
    height: 150px;
    width: 20vw;
}

.card{
   
    padding: 1vw;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    row-gap: 25px;
}

.heading{
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: aliceblue;
    border:1px solid white;
}



.country-card h3,h5{
    background-color: grey;
}

form input {
    height: 30px;
    width: 20vw;
    border: 1px solid wheat;
    padding: 10px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
    


}
.search .back{
    margin-left: 5vw;
    width: 130px;
    padding: 10px;
    border: 1px solid wheat;
}
.input{
    display: flex;
}
.search .go{
    margin-left: 1vw;
    width: 76px;
    border: 1px solid wheat;
    height: 30px;
}

.drop{
    display: flex;
    margin-right: 50px;
}
.drop label{
    font-size: 14px;
    height: 24px;
    width: 75px;
}